.App {
  text-align: center;
  background-color: #faf7f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 55px;
  height: 55px;
}

.container {
  background-color: #fefffe;
  width: 30%;
  margin: auto;
  border-radius: 50px;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

/* CARD SERVICE */
.card-element:hover {
  background: #f2f2f233;
  overflow: hidden;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px #d0d0d0;
  cursor: pointer;
}

.service-description {
  font-family: initial;
  margin-top: 5px;
}

hr {
  width: 80%;
}

.service-provider-title {
  font-size: 1.7rem;
  font-weight: 400;
}
.service-provider-wrap {
  margin: 20px;
}

/* PROVIDER CARD */
.container-provider {
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 80%;
  margin: auto;
  border-radius: 15px;
}

.provider-description-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 15px;
}

.provider-cash-back {
  padding: 3px;
  background: #ecb94e;
  border-radius: 5px;
  font-size: 13px;
  color: #f5ddaa;
  margin-top: 8px;
}

.non-content {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
}
